{% load staticfiles %}
<html>
    <head>
        <title>Sooram's blog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
        <!-- <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <style>
        body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        </style>
    </head>
    
    <body class="w3-light-grey">
        <!-- Navbar -->
        <div class="w3-top">
          <div class="w3-bar w3-black w3-card-2">
            <!-- <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a> -->
            <a href="/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
            <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CAREER</a>
            <a href="{% url 'books_home' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BOOKS</a>
            <div class="w3-dropdown-hover w3-hide-small">
              <button class="w3-padding-large w3-button" title="More">TRAVEL <i class="fa fa-caret-down"></i></button>     
              <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="#" class="w3-bar-item w3-button">China</a>
                <a href="#" class="w3-bar-item w3-button">Japan</a>
                <a href="#" class="w3-bar-item w3-button">Mexico</a>
              </div>
            </div>
            <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">DIARY</a>
            <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
            <!-- <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a> -->
          </div>
        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
          <a href="#band" class="w3-bar-item w3-button w3-padding-large">BAND</a>
          <a href="#tour" class="w3-bar-item w3-button w3-padding-large">TOUR</a>
          <a href="#contact" class="w3-bar-item w3-button w3-padding-large">CONTACT</a>
          <a href="#" class="w3-bar-item w3-button w3-padding-large">MERCH</a>
        </div>

        <!-- w3-content defines a container for fixed size centered content, 
        and is wrapped around the whole page content, except for the footer in this example -->
        <div class="w3-content" style="max-width:1400px">

        <!-- Header -->
        <div class="page-header">
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu">+</a>
            {% endif %}
            <h1><b><a href="/">Sooram's Blog</a></b></h1>
            <p>Welcome to the blog of <span class="w3-tag">Sooram</span></p>
        </div>

        <!-- Grid -->
        <div class="w3-row">

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>

        <!-- END GRID -->
        </div><br>
        
        <!-- END w3-content -->    
        </div>

        <!-- Footer -->
        <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
          <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
          <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
          <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </footer>

    </body>
</html>