.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: black;
    font-size: 30pt;
    text-decoration: none;
    margin: 20pt;
    padding-top: 20pt;
}

.page-header {
    text-align: center;
    margin: 36pt;    
}

.page-header p {
    padding-right: 18pt;
}

/*.content {
    margin-left: 40px;
}*/

/*h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}*/

.date {
    color: #828282;
    text-align: right;
    padding-top: 10pt;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:visited { 
    color: black;
    float: right;
    font-size: 36pt;
    margin-right: 20px;
    text-decoration: none;
}


.top-menu:hover {
    color: #A9AAAB;
    text-shadow: 1px 1px black;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

a.more-button:link, a.more-button:visited {
    border-style: solid;
    border-color: #B3B5B5;
    border-width: 1pt;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.more-button:hover, a.more-button:active {
    background-color: #B3B5B5;
}